DATABASE_URL=
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=your_password
DATABASE_NAME=vdms_db

PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
